<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1">
	<title>booking</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
	<section class="booking">
		<img src="../images/logo.png" alt="" class="logo">
		<input type="checkbox" id="click">
		<label for="click" class="menu_btn">
			<h6>MENU</h6>
			 <img src="../images/menu.png" class="icon">
		</label>
		<a href="./appt.html" class="normal">BOOK APPOINTMENT</a>
		<nav class="navbar" id="navbar">
		<ul>
			<li><a href="./corporate.html">Corporate booking</a></li>
			<li><a href="./myaccount.html">My account</a></li>
			<li><a href="./cart.html">Cart</a></li>
		</ul>
		<li class="Cbook"><a href="../contactUs/contact.html">Contact Us <i class="fas fa-arrow-circle-right"></i></a></li>
	    <li class="main"><a href="../index.html">Back to main site <i class="far fa-long-arrow-alt-right"></i></a></li>
	</nav>
	
	</section>

     <section class="hero section-p1" data-aos="fade-in-up">
		<h2 data-aos="fade-right">Covid-19 RT-PCR</h2>
		<p data-aos="fade-right">Know Your Status</p>
	</section>

	<section class="book_call"> 
		<h3>For more information, call</h3>
		<p><i class="fas fa-phone-alt"> 08105684336</i></p>
	</section>

	<section class= "book_info section-p1" data-aos="fade-up">
		<h3>Quick Info!</h3>
		<p>The website would redirect you to the questionnaire immediately after payment. Ensure to fill and submit the questionnaire before visiting our centre.</p>
		<br>
		<p>Home Sample collection is available for a token amount</p>
		<br>
		<p>Your result would be available within 12 hours after sample collection and would be sent to you via email, or you can pick up at our centre.</p>
		<br>
		<h4>We are open:</h4>
		<p>Monday to Friday: 8a.m. – 6p.m.</p>
		<p>Saturday: 9a.m. – 5p.m.</p>
		<p>Sunday: 12p.m. – 5p.m.</p>

	</section>
	<section class="book_test section-p1 section-m1" data-aos="fade-in">
		<p>Let's Begin</p>
		<h3>Select your preferred sample collection method for outbound clients</h3>
		<div class="book_btn" data-aos="zoom-in-up">
			<a href="./walk-in.html" class="book_btns">Walk-in</a>
			<a href="./home-col.html" class="book_btns">Home collection</a>
		</div>
		<div class="book_btn2">
			<h3>Returning to Nigeria? click below and Choose Bluecoat Medical Diagnostics Limited as your preferred Laboratory</h3>
			<a href="#" class="book_btns" data-aos="zoom-in-up">In-bound Clients</a>
		</div>
		<p>Bluecoat Medical Diagnostics is Accredited by MLSCN and NCDC under the supervision of Lagos State Ministry of Health.</p>
	</section>
	<footer>
	<div class="footer section-p1" data-aos="fade-up">
	<div class="aboutUs">
		<h4>ABOUT US</h4>
		<p>Blue Coat Medical Diagnostics Limited’s expertise is rooted in our dedication to provide physicians with timely, high-quality laboratory tests and services that help them provide improved patient care.</p>
		<br>
		<a href="../aboutUs/about.html">Read more <i class="fas fa-arrow-circle-right"></i></a>
	</div>

	<div class="col">
		<h4>QUICK LINKS</h4>
		<a href="../index.html">Home</a>
		<a href="../aboutUs/about.html">About Us</a>
		<a href="../contactUs/contact.html">Contact Us</a>
		<a href="../booking/booking.html">Covid-19 Booking</a>
		<a href="../booking/corporate.html">Corporate Booking</a>
	</div>

	<div class="col contact_foot">
		<h4>CONTACT US</h4>
		<div>
    		<i class="fas fa-map-marker-alt"></i>
    		<a href="#">2nd Floor Granet Plaza, Lekki Expressway, Lagos</a>
    	</div>
    	<div>
    		<i class="fas fa-envelope"></i>
    		<a href="mailto:info@bluecoatdiagnostics.com">info@bluecoatdiagnostics.com</a>
    	</div>
    	<div>
    		<i class="fas fa-phone-alt"></i>
    		<a href="#">08105684336</a>
    	</div>
	</div>

	<div class="col follow">
			<h4>Follow us</h4>
			<div class="icon">
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-twitter"></i>
				<br>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin-in"></i>
			</div>
		</div>
	</div>
     
     <div class="copyright">
     <p>&copy; 2022 All rights reserved</p>
     <a href="https://www.ftsl-ng.com">website by: Flyte Technology and Solutions Ltd</a>
	</div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
     AOS.init({
     	offset: 200,
     	duration: 1500,
     	delay: 0,
     });

  </script>
	<script src="../script.js"></script>
</body>
</html>