<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1">
	<title>Covid-19 rt-pcr</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
	<section class="header_1">
		<h5>Every interaction with our patients is an opportunity!</h5>
		<div class="icon">
			<i class="fab fa-facebook"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-linkedin-in"></i>
		</div>
		<a href="../booking/booking.html" class="normal">BOOK APPOINTMENT</a>
	</section>

	<section class="header_2 container">
		<a href="#"><img src="../images/logo.png" alt="" class="logo"></a>

		<div class="hamburger" id="hamburger">
			<h6>Menu</h6>
			<img src="../images/menu.png" class="icon">
		</div>

		<div class="txt">
			<div>
			<h3>OUR LOCATION</h3>
			<span>9, Owo Avenue, Ijapo Estate, Akure</span>
			</div>
			<div>
			<h3>08135285656</h3>
			<span>Call Us Now- Prompt Customer Support</span>
		</div>
		</div>
	</section>

	<section class="header_3">
     <nav class= "navbar" id="navbar">
     	<div class="left">
     	<ul>
     		<li><a href="../index.html">Home</a></li>
     		<li><a href="../aboutUs/about.html">About</a></li>
     		<li><a href="#" class="service_btn">Services <i class="fas fa-caret-down"></i></a>
			<ul class="dropdown show">
          <li><a href="../services/covid.html">COVID-19 RT-PCR</a></li>
          <li><a href="../services/routine.html">Routine Pathology Investigation</a></li>
          <li><a href="../services/molecular.html">Molecular Biology Investigation</a></li>
          <li><a href="../services/dna.html">DNA Paternity Test</a></li>
        </ul>	
     		</li>
     	</ul>
     </div>
     	<div class="right">
     	<ul>
     	<li><a href="../booking/booking.html">COVID-19 Booking</a></li>
     	<li><a href="../booking/corporate.html">Coporate Booking</a></li>
     	<li><a href="../contactUs/contact.html">Contact Us</a></li>
     </ul>
     </div>
     <div class="txt_bottom" id="bottom">
     	   <div>
			<h3>08135285656</h3>
			<span>Call Us Now- Prompt Customer Support</span>
		</div>
			<div>
			<h3>OUR LOCATION</h3>
			<span>9, Owo Avenue, Ijapo Estate, Akure</span>
			</div>
     </nav>
	</section>

	<section class="abt_banner">
	</section>

	<section class="about_link">
		<h4>COVID-19 RT-PCR</h4>
		<ul>
			<a href="../index.html">Home>> </a>
			<a href="../services/covid.html">COVID-19 RT-PCR</a>
		</ul>
	</section>

	<section class="covid" data-aos="fade-in">
		<div>
		<h3>Covid-19 RT-PCR</h3>
		<p>A polymerase chain reaction (PCR) test is performed to detect genetic material from a specific organism, such as a virus. The test detects the presence of a virus if you are infected at the time of the test. The test could also detect fragments of virus even after you are no longer infected.</p>
		<br>
		<p>A PCR test for COVID-19 is a test used to diagnosis people who are currently infected with SARS-CoV-2, which is the coronavirus that causes COVID-19. The PCR test is the “gold standard” test for diagnosing COVID-19 because it is the most accurate and reliable test.</p>
		<br>
		<p>The nose/throat swab PCR test for COVID-19 is the most accurate and reliable test for diagnosing COVID-19. A positive test means you have COVID-19. A negative test means you did not have COVID-19 at the time of the test.</p>
		<br>
		<p>The main advantages of COVID-19 PCR test are its accuracy and reliability. It is the most accurate test available for COVID-19 detection.</p>
		<br>
		<a href="../booking/booking.html" class="normal">Book Now</a>
	</div>
	<img src="../images/covid.jpg" data-aos="fade-left">

	</section>

	<footer>
	<div class="footer section-p1" data-aos="fade-up">
	<div class="aboutUs">
		<h4>ABOUT US</h4>
		<p>Blue Coat Medical Diagnostics Limited’s expertise is rooted in our dedication to provide physicians with timely, high-quality laboratory tests and services that help them provide improved patient care.</p>
		<br>
		<a href="../aboutUs/about.html">Read more <i class="fas fa-arrow-circle-right"></i></a>
	</div>

	<div class="col">
		<h4>QUICK LINKS</h4>
		<a href="../index.html">Home</a>
		<a href="../aboutUs/about.html">About Us</a>
		<a href="../contactUs/contact.html">Contact Us</a>
		<a href="../booking/booking.html">Covid-19 Booking</a>
		<a href="../booking/corporate.html">Corporate Booking</a>
	</div>

	<div class="col contact_foot">
		<h4>CONTACT US</h4>
		<div>
    		<i class="fas fa-map-marker-alt"></i>
    		<a href="#">2nd Floor Granet Plaza, Lekki Expressway, Lagos</a>
    	</div>
    	<div>
    		<i class="fas fa-envelope"></i>
    		<a href="mailto:info@bluecoatdiagnostics.com">info@bluecoatdiagnostics.com</a>
    	</div>
    	<div>
    		<i class="fas fa-phone-alt"></i>
    		<a href="#">08105684336</a>
    	</div>
	</div>

	<div class="col follow">
			<h4>Follow us</h4>
			<div class="icon">
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-twitter"></i>
				<br>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin-in"></i>
			</div>
		</div>
	</div>
     
     <div class="copyright">
     <p>&copy; 2022 All rights reserved</p>
     <a href="https://www.ftsl-ng.com">website by: Flyte Technology and Solutions Ltd</a>
	</div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
     AOS.init({
     	offset: 200,
     	duration: 1500,
     	delay: 0,
     });

  </script>
<script src="../script.js"></script>
</body>
</html>